<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiawawulian.dealermanage.dao.BreakdownMapper">
  <resultMap id="BaseResultMap" type="com.jiawawulian.dealermanage.domain.Breakdown">
    <id column="BREAKDOWNS_ID" jdbcType="VARCHAR" property="breakdownsId" />
    <result column="MEMBER_ID" jdbcType="VARCHAR" property="memberId" />
    <result column="CONTENT" jdbcType="VARCHAR" property="content" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="LAT" jdbcType="VARCHAR" property="lat" />
    <result column="LON" jdbcType="VARCHAR" property="lon" />
    <result column="LOCATION" jdbcType="VARCHAR" property="location" />
    <result column="RECORD_DATE" jdbcType="VARCHAR" property="recordDate" />
    <result column="VEHICLE_ID" jdbcType="VARCHAR" property="vehicleId" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="PICTURE_NAME" jdbcType="VARCHAR" property="pictureName" />
    <result column="READSTATE" jdbcType="VARCHAR" property="readstate" />
  </resultMap>
  <resultMap id="BaseResultDTOMap" extends="BaseResultMap" type="com.jiawawulian.dealermanage.dto.BreakdownDTO">
    <result column="FIRM_NAME" jdbcType="VARCHAR" property="firmName" />
  </resultMap>
  <sql id="Base_Column_List">
    BREAKDOWNS_ID, MEMBER_ID, CONTENT, PHONE, LAT, LON, LOCATION, RECORD_DATE, VEHICLE_ID, 
    TYPE, PICTURE_NAME, READSTATE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dd_breakdown
    where BREAKDOWNS_ID = #{breakdownsId,jdbcType=VARCHAR}
  </select>

  <select id="selectByDealerId" parameterType="java.lang.String" resultMap="BaseResultDTOMap">
    SELECT
        b.*,
        f.FIRM_NAME
    FROM
        dd_breakdown b,
        dd_vehicleinfo v,
        dd_firm f
    WHERE
        v.DEALER_ID = #{dealerId,jdbcType=VARCHAR}
    AND v.VEHICLE_ID = b.VEHICLE_ID
    AND f.FIRM_ID = v.FIRM_ID
  </select>
</mapper>