<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiawawulian.dealermanage.dao.DealerMapper">
  <resultMap id="BaseResultMap" type="com.jiawawulian.dealermanage.domain.Dealer">
    <id column="DEALER_ID" jdbcType="VARCHAR" property="dealerId" />
    <result column="LAT" jdbcType="VARCHAR" property="lat" />
    <result column="LON" jdbcType="VARCHAR" property="lon" />
    <result column="LOCATION" jdbcType="VARCHAR" property="location" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
  </resultMap>
  <sql id="Base_Column_List">
    DEALER_ID, LAT, LON, LOCATION, PHONE, USERNAME, PASSWORD
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dd_dealer
    where DEALER_ID = #{dealerId,jdbcType=VARCHAR}
  </select>

  <select id="selectByUsernameAndPassword" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from dd_dealer
    where USERNAME = #{arg0} AND PASSWORD = #{arg1}
  </select>
</mapper>