<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiawawulian.dealermanage.dao.MemberMapper">
  <resultMap id="BaseResultMap" type="com.jiawawulian.dealermanage.domain.Member">
    <id column="MEMBER_ID" jdbcType="VARCHAR" property="memberId" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="REAL_NAME" jdbcType="VARCHAR" property="realName" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="PHONE_TYPE" jdbcType="VARCHAR" property="phoneType" />
    <result column="REGISTER_TIME" jdbcType="VARCHAR" property="registerTime" />
    <result column="SOFTWARE_TYPE" jdbcType="VARCHAR" property="softwareType" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="SESSION_ID" jdbcType="VARCHAR" property="sessionId" />
  </resultMap>
  <sql id="Base_Column_List">
    MEMBER_ID, USER_NAME, REAL_NAME, PASSWORD, PHONE, PHONE_TYPE, REGISTER_TIME, SOFTWARE_TYPE, 
    REMARK, SESSION_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dd_member
    where MEMBER_ID = #{memberId,jdbcType=VARCHAR}
  </select>

  <select id="selectListByDealerId" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
    m.*
    FROM
        dd_member m,
        dd_vehicleinfo v,
        gprs_connect c
    WHERE
        v.DEALER_ID = #{dealerId, jdbcType=VARCHAR}
    AND c.IMEI = v.IMEI
    AND C.MEMBER_ID = M.MEMBER_ID
    AND ROLE = 1
    AND ACTIVE = 1
  </select>

  <select id="selectByDealerIdAndBrandName" resultMap="BaseResultMap">
    SELECT
    m.*
    FROM
      dd_member m,
      dd_vehicleinfo v,
      gprs_connect c
    WHERE
      v.DEALER_ID = #{arg0}
    AND v.BRAND_NAME = #{arg1}
    AND c.IMEI = v.IMEI
    AND C.MEMBER_ID = M.MEMBER_ID
    AND ROLE = 1
    AND ACTIVE = 1
  </select>
</mapper>